.d {
    color: red;
}
.destacado {
    background-color: rgb(179, 255, 0);
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}
.caja {
    width: 500px;
    height: 250px;
    padding-top: 0px;
    padding-left: 20px;
    border: 5px solid navy;
    background-color: lightblue;
}